@font-face {
    font-family: Poppins-Light;
    src: url(../font/Poppins-Light.ttf);
}

*{
    font-family: Poppins-Light;
}

.dataTables_empty, .dataTables_info, .dataTables_length{
    text-transform: capitalize !important;
}

textarea{
    resize: none;
}

#description, #description {
    width: 100%;
    margin:auto;
}
.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 30em;
}
.ck-content .image {
    /* block images */
    max-width: 80%;
    margin: 20px auto;
}
ul.ui-autocomplete {
    z-index: 1100 !important;
}
.fullscreen{
    position: fixed !important;
    z-index: 10000 !important;
    background-color: #f3f3f3 !important;
    padding-bottom: 2.5em !important;
}
input:disabled, input:read-only{
    background: inherit !important;
    cursor: pointer;
}
[class*="icheck-"] > input:first-child:disabled + label, [class*="icheck-"] > input:first-child:disabled + input[type="hidden"] + label, [class*="icheck-"] > input:first-child:disabled + label::before, [class*="icheck-"] > input:first-child:disabled + input[type="hidden"] + label::before{
    opacity: 1;
    cursor: pointer;
}
.overflow-auto-y{
    overflow-y: auto !important;
}
.overflow-auto-x{
    overflow-x: auto !important;
}
.h-50-em{
    height: 50em !important;
}
.truncate{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
